.favourites_button {
  position: relative;
  justify-content: center;
  background-color: lime;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  padding: 30px;
  display: flex;
  height: 100%;
  margin-left: 37.5%;
  margin-right: 37.5%;
  font-weight: bold;
}
