.add_recipe_heading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
}

.add_recipe_info_container {
  background: green;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding-left: .15%;
  padding-right: .15%;
  padding-top: .2%;
  padding-bottom: .2%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.add_recipe_info {
  background: #DEFFDE;
  color: green;
  width: 99.5%;
  height: 10%;
  padding: 1%;
  border-radius: 10px;
}

.add_recipe_columns {
  display: flex;
}

.add_recipe_subheading_column {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 35px;
}

.recipetitle {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 40px;
}

.add_recipe_box {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  border: 2px solid green;
  font-size: 20px;
  padding: 12.5px;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  height: 25px;
}

.add_recipe_box:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
  outline: none;
}

.add_recipe_subheading {
  display: flex;
  flex: 1;
  font-size: 35px;
}

.add_recipe_box2 {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  border: 2px solid green;
  font-size: 20px;
  padding: 12.5px;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  width: 870px;
  height: 100px;
}

.add_recipe_box2:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
  outline: none;
}

.add_recipe_box3 {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  border: 2px solid green;
  font-size: 20px;
  padding: 12.5px;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  width: 870px;
  height: 25px;
}

.add_recipe_box3:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
  outline: none;
}

.add_recipe_bt {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-family: 'Pangolin', sans-serif;
  font-size: 20px;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  background: green;
  border: green;
  color: white;
  cursor: pointer;
}

.add_recipe_bt:active {
  border-radius: 10px;
  background: lime;
  border-color: green;
}

.right_align {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.add_recipe_bt2 {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  font-family: 'Pangolin', sans-serif;
  font-size: 20px;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  background: green;
  border: green;
  color: white;
  cursor: pointer;
}

.add_recipe_bt2:active {
  border-radius: 10px;
  background: lime;
  border-color: green;
}

.advanced_search_heading {
  font-size: 25px;
}

.advanced_search_box {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  font-size: 20px;
  padding: 12.5px;
  width: 30%;
  outline: none;
  left: 7.5%;
  margin: 10px;
  margin-top: 0px;
}

.advanced_search_box:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
}
