.navbar {
  overflow: hidden;
  background-color: violet;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 99.5%;
  border-radius: 5px;
}

.navbar-container {
  border: 1px;
  background: #79ea79;
  color: white;
  border-radius: 5px;
  height: 50px;
  display: inline;
  display: flex;
  justify-content: center;
  padding: 12.5px;
}

.recipething {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  position: absolute;
  text-align: center;
  width: 100%;
}

.searchimage {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: absolute;
  left: 2%;
}

.searchbox {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  font-size: 20px;
  padding: 12.5px;
  width: 15%;
  outline: none;
  position: absolute;
  left: 5%;
}

.searchbox:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
}

.searchbt {
  font-family: 'Pangolin', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 50px;
  margin-right: 100px;
  border-radius: 10px;
  outline: none;
  background: green;
  border: green;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 22.5%;
}

.searchbt:active {
  border-radius: 10px;
  background: #79ea79;
  border-color: green;
}

.notifyimage {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  display: inline;
  position: absolute;
  right: 35%;
}

.rightbuttons {
  font-size: 30px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 2px;
  position: relative;
  left: 30%;
}

.buttondivider {
  font-size: 30px;
  position: relative;
  left: 30%;
}
