.list {
  Margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
}

ol {
  margin-top: 0;
}

.ingredient_price {
  display: inline-flex;
}

.ingredient_store {
  text-align: right;
}

button {
  display: inline;
  justify-content: center;
  font-family: "Pangolin", sans-serif;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  height: 100%;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:active {
  border-radius: 10px;
  background: lime;
  border-color: green;
}

.ingredient_list {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
}

.ingredient_list_element {
  overflow: clip;
  padding-bottom: 20px;
}

.ingredient_list_element:nth-child(1) {
  
}

.ingredient_list_element:nth-child(even) {
    margin-left: 100px;
    text-align: right;
}

.ingredient_list_element:nth-child(3) {
    margin-left: 100px;
    text-align: right;
}

.right_large_text {
    font-size: 30px;
    margin-right: 50px;
    text-align: right;
    font-weight: bold;   
}

.recipe_reply {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentbox {
  font-family: 'Pangolin', sans-serif;
  background: white;
  color: gray;
  border-radius: 10px;
  font-size: 20px;
  padding: 12.5px;
  outline: none;
  height: 100px;
  width: 865px;
}

.commentbox:focus {
  border-radius: 10px;
  border-color: gray;
  background: silver;
}

.comment_content {
  display: inline-flex;
  flex: 1;
}

.ingredient_table_desc {
  width: 25%;
}

.ingredient_table_product {
  width: 25%;
}

.ingredient_table_image {
  width: 15%;
}

.ingredient_table_shop {
  width: 20%;
}

.ingredient_table_cost {
  width: 10%;
}

.ingredient_table_button {
  width: 5%;
}
