{% extends "base.html" %}

{% block title %}Add Recipe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/addRecipe.css">
{% endblock %}

{% block body %}
  <div class="index">

    {% include "includeMainHeader.html" %}
    <div class="main_container">
      <form method="POST">
      <div class="add_recipe_heading" style="margin-bottom:10px">
        Advanced Search
      </div>
      <div style="text-align:center; margin-bottom:20px">
        <div class="advanced_search_heading">Minimum Rating</div>
        
          <select class="sortdd" name="minrating">
            <option value="minimum rating"> Choose from 1 to 5 </option>
            {% for i in range(5) %}
                <option value={{i+1}}> {{i+1}} </option>
            {% endfor %}
          </select>
      </div>

        <div style="text-align:center; margin-bottom:20px">
                <div class="advanced_search_heading">Include Ingredients</div>
            <input type="text" name="KeyWords" placeholder="e.g. chicken, eggs, ..." class="advanced_search_box"/><br/>
                <div class="advanced_search_heading">Exclude Ingredients</div>
            <input type="text" name="Exclude" placeholder="e.g. peanuts, yoghurt, ..." class="advanced_search_box"/><br/>
                <div class="advanced_search_heading">Maximum Prep Time</div>
            <input type="text" name="MaxPrepTime" placeholder="e.g. 10.5" class="advanced_search_box"/><br/>
                <div class="advanced_search_heading">Maximum Cost</div>
            <input type="text" name="MaximumCost" placeholder="e.g. 25" class="advanced_search_box"/><br/>
        </div>

        <div style="text-align:center">
           <input class="searchbts" type="submit" value="Search" name="srchbt" align="right">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
