{% extends "base.html" %}

{% block title %}Add Recipe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/addRecipe.css">
{% endblock %}

{% block body %}
  <div class="index">

    {% include "includeMainHeader.html" %}
  
    <div class="main_container">
      <div class="add_recipe_heading">
        Advanced Search
      </div>
      <div class="centered">
        <form method="POST">
          <select class="sortdd" name="minrating">
            <option value="minimum rating"> Minumum Rating </option>
            {% for i in range(5) %}
                <option value={{i+1}}> {{i+1}} </option>
            {% endfor %}
          </select>
        </form>
      </div>

    <form method="POST">
      <div style="text-align:center">
      <input type="text" name="searchtext" placeholder="Search Terms..."/><br>
      <input type="text" name="maxpreptime" placeholder="Maximum Prep Time"/><br>
      <input type="text" name="maximumcost" placeholder="Maximum Cost"/><br>
      </div>


      <div class="add_recipe_heading">
        Exclude Ingredients
      </div>
      {% for i in range(numOfExcluded|int) %}
        <div style="text-align:center">
            <input type="text" name="exclude" placeholder="Ingredient To Exclude"/><br> 
        </div>
      {% endfor %}
      <div style="text-align:center">
         <input class="searchbts" type="submit" value="Add" name="addbt" align="right">
      </div>      

    </form>

  </div>
  </div>
{% endblock %}
