{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block body %}
  <div class="index">
    {% include "includeMainHeader.html" %}

    <div class="main_container">
      <!--- We need a sort dropdown and button --->
      <form method="POST">
        <select name="sorttype" align="right">
            <option value="Cost" {% if sortType == "Cost" %} selected="selected" {% endif %} >Cost</option>
            <option value="Rating" {% if sortType == "Rating" %} selected="selected" {% endif %} >Rating</option>
            <option value="Popularity" {% if sortType == "Popularity" %} selected="selected" {% endif %} >Popularity</option>
            <option value="Prep Time" {% if sortType == "Prep Time" %} selected="selected" {% endif %} >Prep Time</option>
        </select>
        <input align="right" type="submit" value="Sort" name="sortbt" align="right">
        <input align="right" type="submit" value="Advanced Search" name="advbt" align="right">
      </form> 
      <br>
      {% for item in recipes %}
          {% with recipe=recipes[loop.index - 1] %}
          {% include "includeRecipe.html" %}
          {% endwith %}
      {% endfor %}


    </div>
  </div>

{% endblock %}
