{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
{% endblock %}

{% block body %}
  <div class="index">
    {% include "includeMainHeader.html" %}

    <div class="main_container">
    <!--- Backend does not have a specific favourites page. This has been changed to just have the
          favourites on the given user's profile page
    --->


      <!-- for i in recipe -->
      {% for item in recipes %}
          {% with recipe=recipes[loop.index - 1] %}
          {% include "includeRecipe.html" %}
          {% endwith %}
      {% endfor %}
      <!-- End for -->


    </div>
  </div>

{% endblock %}
