<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../static/navbar.css'>
    <title>404</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-list" href="#">RecipeThing</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <img id = "logo" src="/static/logo.png" width = "550px" height="500px" class="img-responsive center-block">
    </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <form method="post" action="/">
           <b> 404. Most likely edamam is not responding! </b><br>
           <b> ;( </b><br>
          <button type="submit" name="facebook" value="1" class="btn btn-info">Facebook</button>
          <button type="submit" name="google" value="1" class="btn btn-success">Google</button>
      </form>
    </div>
    <div class="col-md-4 text-right"></div>
  </div>
</div>


</body>
</html>
