<!--- This include should receive 'user' (a database entry of the user)
        and also 'comment' (a string) --->

<div class="recipe_container">
  <div class="recipe">
    <div class="profile_info">
      <div class="recipe_subheading">
        {{ user["fullname"] }}
      </div>
      <div class="profile_image_desc">
        <div class="profile_image">
          <img src={{ user["imageurl"] }} alt="UserDP" height="100" width="100"/>
        </div>
        <div class="right_desc">
          <div class="profile_desc">
            {{ comment }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
