<div class="swapbt">
  <button onclick="popupFunc({{ buttonnumber }})">SWAP</button>
</div>
<div class="popup_container">
  <span class="popup_text" id="{{ buttonnumber }}">
    <div class="green_background">
      <div class="swap_heading">
        {{ ingredient }}
      </div>
      <hr/>
      <div class="indent">
        <div class="swap_subheading">
          INGREDIENT
        </div>
        <div class="ingredient_search">
          <div class="ingredient_search_box">
            <textarea name="comment" class="ingredient_box" placeholder="Enter the name of an ingredient to search..."/></textarea>
          </div>
          <input type="submit" value="Submit" name="ingredient_bt" class="ingredientbt"/>
        </div>
        <table class="ingredient_option_list">
          <tbody>
           {% for product in products %}
            <tr>
              <td class="ingredient_option">
                <form method="POST">
                    <input type="image" src={{ product["image"] }} height="150" width="150" value={{ buttonnumber }}_{{loop.index-1}} name="productbt">
                </form>
                {{ product["label"] }} {{product["quantity"]}} {{product["unit"]}}
                <div class="ingredient_price">
                  ${{ product["effectiveCost"] }}
                </div>
              </td>       
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </span>
<div>

<script>
  function popupFunc(div_id) {
    var p = document.getElementById(div_id);
    p.classList.toggle("show");
  }
</script>
