<div class="swapbt">
  <button onclick="popupFunc(              ITEM_ID               )">SWAP</button>
</div>
<div class="popup_container">
  <span class="popup_text" id="                ITEM_ID             ">
    <div class="green_background">
      <div class="swap_heading">
        INGREDIENT SWAP {{ buttonnumber }}
      </div>
      <hr/>
      <div class="indent">
        <div class="swap_subheading">
          STORE
        </div>
        <div class="store_options">
          <div class="store_option">
            Aldi
          </div>
          <div class="store_option">
            Coles
          </div>
          <div class="store_option">
            Woolworths
          </div>
        </div>
        <div class="swap_subheading">
          INGREDIENT
        </div>
        <div class="ingredient_search">
          <div class="ingredient_search_box">
            <textarea name="comment" class="ingredient_box" placeholder="Enter the name of an ingredient to search..."/></textarea>
          </div>
          <input type="submit" value="Submit" name="ingredient_bt" class="ingredientbt"/>
        </div>
        <table class="ingredient_option_list">
          <tbody>
            <tr>
              <td class="ingredient_option">
                <img src="/static/images/Google.png" alt="GoogleLogo" height="150" width="150"/>
                <div class="ingredient_price">
                  $2.00
                </div>
              </td>
              <td class="ingredient_option">
                <img src="/static/images/Google.png" alt="GoogleLogo" height="150" width="150"/>
                <div class="ingredient_price">
                  $0.72
                </div>
              </td>
              <td class="ingredient_option">
                <img src="/static/images/Google.png" alt="GoogleLogo" height="150" width="150"/>
                <div class="ingredient_price">
                  $2.95
                </div>
              </td>
              <td class="ingredient_option">
                <img src="/static/images/Google.png" alt="GoogleLogo" height="150" width="150"/>
                <div class="ingredient_price">
                  $1.50
                </div>
              </td>
              <td class="ingredient_option">
                <img src="/static/images/Google.png" alt="GoogleLogo" height="150" width="150"/>
                <div class="ingredient_price">
                  $10.00
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </span>
<div>

<script>
  function popupFunc(div_id) {
    var p = document.getElementById(div_id);
    p.classList.toggle("show");
  }
</script>
