<!--- This include should receive 'user' (a database entry of the user)
        and also 'comment' (a string) --->
<link rel="stylesheet" type="text/css" href="/static/css/addRecipe.css">
<link rel="stylesheet" type="text/css" href="/static/css/profileDesc.css">

<div class="recipe_container">
  <div class="recipe">
    <div class="profile_info">
      <div class="add_recipe_subheading">
        {{ user["fullname"] }}
      </div>
      <div class="profile_image_desc">
        <a href="../user/{{user["userID"]}}">
          <img src={{ user["imageurl"] }} alt="UserDP" height="100" width="100" style="display: inline-block;">
        </a>
        <div class="right_desc">
          <div class="profile_desc">
            {{ comment }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
