          <!-- Make sure this is html is included with a recipe -->
          <!-- These include:
            recipeuserid    access by   recipe["ownderid"]
            recipeusername  access by   recipe["ownername"]
            recipeid        access by   recipe["id"]
            recipename      access by   recipe["name"]
            recipeisfav     access by   recipe["isfav"]
            recipeimage     access by   recipe["image"]
            recipepreptime  access by   recipe["preptime"]
            reciperating    access by   recipe["rating"]
            recipeprice     access by   recipe["effectiveCost"]
          -->

<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/recipe.css">

<script>
    function onMouseOver(starNumber) {
        var number = 0
        while (number <= starNumber) {
            document.getElementById("star".concat(number)).src='/static/images/yellow_star.png';
            number = number + 1;
        }
        while (number <= 5) {
            document.getElementById("star".concat(number)).src='/static/images/open_star.png';
            number = number + 1;
        }
    };
</script>
<script>
    function onMouseOut(rating, userRating) {
        if (userRating > 0) {
            var number = 0
            while (number < userRating) {
                document.getElementById("star".concat(number)).src='/static/images/yellow_star.png';
                number = number + 1;
            }
            while (number < 5) {
                document.getElementById("star".concat(number)).src='/static/images/open_star.png';
                number = number + 1;                
            }
        }
        else {
            var number = 0
            while (number < 5) {
                if (number < rating) {
                    document.getElementById("star".concat(number.toString())).src='/static/images/closed_star.png';
                }
                else {
                    document.getElementById("star".concat(number.toString())).src='/static/images/open_star.png';
                }
                number = number + 1;
            }
        }
    };
</script>

<body onLoad="javascript:onMouseOut({{recipe["rating"]}}, {{userRating}})">
<div class="recipe_container">
  <div class="recipe">
    <img src="{{ recipe["image"] }}" alt="RecipeImage" height="250" width="250"/>
    <div class="overallrecipeinfo">
      <div class="recipeinfo1">
        <div class="recipetitle">
          <a href="{{ url_for('recipe', recipeId=recipe['id']) }}" class="navlink">
            {{ recipe["name"] }}
          </a>
        </div>
        <div class="recipefavourite">
          <form method="POST">
          {% if recipe["isfav"] == False %}
            <input type="image" src="/static/images/open_heart.png" width="40" height="40" value={{recipe["id"]}} onmouseover="this.src='/static/images/closed_heart.png';" onmouseout="this.src='/static/images/open_heart.png';" name="favbt"/>
          {% else %}
            <input type="image" src="/static/images/closed_heart.png" width="40" height="40" value={{recipe["id"]}} name="unfavbt"/> 
          {% endif %}
          </form>
        </div>
      </div>

        <div class="recipedescription">
            <h2>{{ recipe["description"] }}</h2>
        </div>

      <div class="recipeinfo2">
        <div class="recipetime">
          {% if recipe["preptime"] != "???" %}
            {{ '%0.0f' % recipe["preptime"]|float }} mins   
          {% else %}
            {{ recipe["preptime"] }} mins   
          {% endif %}
        </div>
      </div>
      <div class="recipeinfo1">
        <div class="reciperating">         
               {% for i in range(5) %}
                <form method="POST">
                    <input type="image" id="star{{loop.index - 1}}" src="/static/images/open_star.png" alt="ClosedStar" height="40" width="40" onmouseover="onMouseOver({{loop.index-1}});" onmouseout="onMouseOut({{recipe["rating"]}}, {{userRating}});" name="ratingbt" value={{loop.index}}>
                 </form>
              {% endfor %}         
        </div>
        <div class="recipeprice">
          ${{ totalEffectiveCost }}
        </div>
      </div>
      <div class="recipeinfo2">
        <div class="recipekeywords">
         {{ recipe["dietLabels"] }}
        </div>
      </div>
      <div class="recipeinfo2">
        <div class="recipekeywords">
          {% if recipe["calories"]|int != 0 %}
            {{ '%0.0f' % recipe["calories"] }} calories
          {% endif %}
        </div>
      </div>
      <!--- A text rating that shows real rating since user can override UI display with their own vote --->
      <div class="recipeinfo1">
        <div class="recipetime">
         Average Rating {{ recipe["rating"] }} / 5  
        </div>
      </div>
      <div class="recipeinfo1">
        <div class="recipeauthor">
            {% if recipe["ownerid"] != -1 %}
            <a href="../user/{{recipe["ownerid"]}}">
            {% endif %}
                By {{ recipe["ownername"] }}
            {% if recipe["ownerid"] != -1 %}
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
