<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../static/navbar.css'>
    <title>Recipe</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-list" href="https://localhost:5000/dashboard">RecipeThing</a>
		<form method="POST">
  			Search Recipe: <input type="text" name="searchtext"><br>
  			<input type="submit" value="Search" name="bt">
		</form>
    </div>
    <a href="https://localhost:5000/user/{{userid}}">
    <img align="right" src={{imageurl}} alt="You">
    </a>
    <form method="POST">
  		<input align="right" type="submit" value="logout" name="bt">
	</form>   
  </div>
</nav>


<div class="container-fluid">
  <div class="row-fluid" id="main">

      <p3><b> {{ recipeLabel }} </p3></b><br><br>
      <img src = {{ recipeImage }} width="400" height="400"><br>
      <form method="POST">
      {% if isFavourited == true %}
          <input type="submit" name="bt" value="Unfavourite"> 
      {% else %}
          <input type="submit" name="bt" value="Favourite">
      {% endif %}
      </form>

      <br>
      Ingredient List: <br>
      {% for ingredient in recipeIngredients %}
            {{ ingredient }} <br>
      {% endfor %}
      <br>
      <p3><b> Comments </p3></b><br>
      {% for comment in recipeComments %}
            <form method="POST">
                <input align="left" type="image" src={{usersWhoCommented[loop.index - 1][3]}} width="20" height="20" value={{usersWhoCommented[loop.index - 1][0]}} name="user">
            </form>
            <b> {{ usersWhoCommented[loop.index - 1][2] }} says </b> {{ comment }}               
      {% endfor %}
      <br>
      <form method="POST">
          <textarea name="commentText" cols="40" rows="5"></textarea><br>
          <input type="submit" value="comment" name="bt">
      </form>

  </div>
</div>


</body>
</html>
