{% extends "base.html" %}

{% block title %}View Recipe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/header.css">
  <link rel="stylesheet" type="text/css" href="/static/css/recipe.css">
  <link rel="stylesheet" type="text/css" href="/static/css/recipeDesc.css">
  <link rel="stylesheet" type="text/css" href="/static/css/swapIngredient.css">
{% endblock %}

{% block body %}
  <div class="index">


      {% include "includeMainHeader.html" %}


    <div class="main_container">

      {% with recipe = recipeDict %}
      	{% include "includeViewRecipeDesc.html" %}
      {% endwith %}
  
       <div class="swap_subheading">
        Selected Store:
        <form method="POST">
        <select name="selectstore">
            <option value="any" {% if prefStore == "any" %} selected="selected" {% endif %} > Any </option>
            <option value="coles" {% if prefStore == "coles" %} selected="selected" {% endif %} >Coles </option>
            <option value="woolworths" {% if prefStore == "woolworths" %} selected="selected" {% endif %} > Woolworths </option>
        </select>
        <input align="right" type="submit" value="Select" name="storebt">
        </div>

      <div class="recipe_heading">
        INGREDIENTS
      </div>
      <div class="list">
        <table class="ingredient_list">

          <tbody>
            {% for ingredient in recipeDict["ingredients"] %}
            <tr>          
              <td class="ingredient_list_element">
                {{ ingredient["ingredientDesc"] }}
              </td>
              <td class="ingredient_list_element">
                   <!--- Check for all properties of the product if we even found a relevent product --->
                   {% if recipeDict["ingredientProducts"][loop.index-1] | length > 0 %}
                    <b>{{ recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["label"] }}</b>
                   {% else %}
                    <b>Couldn't find anything :( </b>
                   {% endif %}
              </td>
              <td class="ingredient_list_element">
                {% if recipeDict["ingredientProducts"][loop.index-1] | length > 0 %}
                    <input type="image" src={{recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["image"]}} width="100" height="100"><br>
                {% endif %}
              </td>
              <td class="ingredient_list_element">
                {% if recipeDict["ingredientProducts"][loop.index-1] | length > 0 and recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["store"] != "all" %}
                    {{ recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["store"] }}
                {% endif %}
              </td>
              <td class="ingredient_list_element">
                {% if recipeDict["ingredientProducts"][loop.index-1] | length > 0 %}
                    ${{ '%0.2f' % (recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["effectiveCost"] + 0.005)}}
                {% endif %}
              </td>
              <td class="ingredient_list_element">

              {% with buttonnumber = loop.index - 1 %}
              {% with products = recipeDict["ingredientProducts"][loop.index-1] %}
                {% include "includeSwapIngredient.html" %}
              {% endwith %}
              {% endwith %}

              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      <div class="recipe_heading">
        INSTRUCTIONS
      </div>
      <div class="list">
        <ol>
          {% if steps|length == 0 %}
             No Steps For This Recipe!
          {% endif %}
          {% for step in steps %}
            {{loop.index}}. {{ step }} <br>
          {% endfor %}
        </ol>
      </div>
      <div class="recipe_heading">
        COMMENTS
      </div>

      {% for comment in recipeComments %}
        {% with user = usersWhoCommented[loop.index - 1] %}
        {% with comment = comment %}
            {% include "includeRecipeComment.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% include "includeRecipeCommentReply.html" %}

    </div>
  </div>
{% endblock %}
