{% extends "base.html" %}

{% block title %}View Recipe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/header.css">
  <link rel="stylesheet" type="text/css" href="/static/css/recipe.css">
  <link rel="stylesheet" type="text/css" href="/static/css/recipeDesc.css">
  <link rel="stylesheet" type="text/css" href="/static/css/swapIngredient.css">
{% endblock %}

{% block body %}
  <div class="index">


      {% include "includeMainHeader.html" %}


    <div class="main_container">

      {% with recipe = recipeDict %}
      	{% include "includeViewRecipeDesc.html" %}
      {% endwith %}
  
       <div class="swap_subheading">
          STORE
        </div>
        <div class="store_options">
          <form method="POST">
          <div class="store_option">
            Coles
          </div>
          <div class="store_option">
            Woolworths
          </div>
          </form>
        </div>

      <div class="recipe_heading">
        INGREDIENTS
      </div>
      <div class="list">
        <table class="ingredient_list">

          <tbody>
            {% for ingredient in recipeDict["ingredients"] %}
            <tr>          
              <td class="ingredient_list_element">
                {{ ingredient["ingredientDesc"] }}
              </td>
              <td class="ingredient_list_element">
                   <!--- Replace one of the 0's with the selected index --->
                <b>{{ recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["label"] }}</b>
              </td>
              <td class="ingredient_list_element">
                <input type="image" src={{recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["image"]}} width="100" height="100"><br>
              </td>
              <td class="ingredient_list_element">
                ${{ '%0.2f' % recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["effectiveCost"] }}
              </td>
              <td class="ingredient_list_element">
                {{ recipeDict["ingredientProducts"][loop.index-1][selectedProducts[loop.index-1]]["store"] }}
              </td>
              <td class="ingredient_list_element">

              {% with buttonnumber = loop.index - 1 %}
              {% with products = recipeDict["ingredientProducts"][loop.index-1] %}
                {% include "includeSwapIngredient.html" %}
              {% endwith %}
              {% endwith %}

              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      <div class="recipe_heading">
        INSTRUCTIONS
      </div>
      <div class="list">
        <ol>
          {% if steps|length == 0 %}
             No Steps For This Recipe!
          {% endif %}
          {% for step in steps %}
            {{loop.index}}. {{ step }} <br>
          {% endfor %}
        </ol>
      </div>
      <div class="recipe_heading">
        COMMENTS
      </div>

      {% for comment in recipeComments %}
        {% with user = usersWhoCommented[loop.index - 1] %}
        {% with comment = comment %}
            {% include "includeRecipeComment.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% include "includeRecipeCommentReply.html" %}

    </div>
  </div>
{% endblock %}
