<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../static/navbar.css'>
    <title>Upload Recipe</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid" display="inline-block">
      <table style=width:100%>

		<form method="POST">
  			<input align="left" type="text" name="searchtext" placeholder="Search...">
  			<button align="left" type="submit" value="Search" name="headerbt"><i class="fa fa-search"></i></button>
		</form>
        <a class="navbar-brand nav-list" href="https://localhost:5000/dashboard" align="center">RecipeThing</a>

        <form method="POST">
            <input align="right" type="submit" value="Add Recipe" name="headerbt">
  		    <input align="right" type="submit" value="Profile" name="headerbt">
            <input align="right" type="submit" value="Logout" name="headerbt">
	    </form> 
        <a href="https://localhost:5000/user/{{userid}}">
            <img align="right" src={{imageurl}} alt="You">
        </a>
      </table>
  </div>
</nav>

<div class="container-fluid">
  <div class="row-fluid" id="main">
      Fill in the form:
      <form method="POST">
          Recipe Name: <input type="text" name="recipename" value="{{savedLabel}}" placeholder="recipeName"><br>
          Image Link: <input type="text" name="imageurl" value="{{savedImageurl}}" placeholder="imageurl"><br>
          Preparation Time: <input type="text" name="preptime" value="{{savedPreptime}}" placeholder="15"> minutes <br>

          <br>
          {% for i in range(numOfIngredients) %}
              Ingredient: <input type="text" name="ingredient_{{i}}" value="{{savedIngredients[i]}}" placeholder="100mL of condensed cream etc."><br>
          {% endfor %}
          <input type="submit" value="Add Ingredient" name="add_ingred_bt"><br>

          {% for i in range(numOfSteps) %}
              Step {{ i + 1 }}: <input type="text" name="step_{{i}}" value="{{savedSteps[i]}}" placeholder="Chop up the onions"><br>
          {% endfor %}
          <input type="submit" value="Add Step" name="add_step_bt"><br><br>      

          <input type="submit" value="Submit Recipe" name="submit_bt">
      </form>
  </div>
</div>


</body>
</html>
