<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='../static/navbar.css'>
    <title>User Profile</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-list" href="https://localhost:5000/dashboard">RecipeThing</a>
		<form method="POST">
  			Search Recipe: <input type="text" name="searchtext"><br>
  			<input type="submit" value="Search" name="bt">
		</form>
    </div>
    <a href="https://localhost:5000/user/{{myuserid}}">
    <img align="right" src={{userimage}} alt="You">
    </a>
    <form method="POST">
  		<input align="right" type="submit" value="logout" name="bt">
	</form>
  </div>
</nav>


<div class="container-fluid">
  <div class="row-fluid" id="main">
      {{ profilename }} <br>
      <img src={{ profileimage }} alt="You"><br><br>
      {% if profileid|int == myuserid|int %}
      <form method="POST">
          <input type="submit" value="Upload Recipe" name="bt">
      </form>
      <br><br>
      {% endif %}
      Put User Recipes Here<br><br>
      Put Favourites Here (Currently recipeIDs)<br>
      {% for favourite in profilefavourites %}
          {{ favourite }}<br>
      {% endfor %}
  </div>
</div>


</body>
</html>
