<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">

    <title>{% block title %}{% endblock %} - Recipe Thing</title>

    {% block head %}
    {% endblock %}
  </head>

  <body>

    {% block body %}
    {% endblock %}
  </body>
</html>
