<div class="recipe_container">
  <div class="recipe">
    <img src="static/images/Google.png" alt="GoogleLogo" class="recipeimage"/>
    <div class="overallrecipeinfo">
      <div class="recipeinfo1">
        <div class="recipetitle">
          <a href={{ url_for('profile') }} class="navlink">
            TWO DESSERTS, ONE CUP
          </a>
        </div>
        <div class="recipefavourite">
          <img src="static/images/open_star.png" alt="OpenStar" height="40" width="40"/>
        </div>
      </div>
      <div class="recipeinfo2">
        <div class="recipetime">
          15 MIN
        </div>
      </div>
      <div class="recipeinfo1">
        <div class="reciperating">
          <img src="static/images/closed_star.png" alt="ClosedStar" height="40" width="40"/>
          <img src="static/images/closed_star.png" alt="ClosedStar" height="40" width="40"/>
          <img src="static/images/closed_star.png" alt="ClosedStar" height="40" width="40"/>
          <img src="static/images/closed_star.png" alt="ClosedStar" height="40" width="40"/>
          <img src="static/images/closed_star.png" alt="ClosedStar" height="40" width="40"/>
        </div>
        <div class="recipeprice">
          $12.00
        </div>
      </div>
      <div class="recipeinfo2">
        <div class="recipekeywords">
          DESSERT, ICECREAM, CHOCOLATE, DRINK
        </div>
      </div>
    </div>
  </div>
</div>