<div class="recipe_container">
  <div class="recipe">
    <div class="profile_info">
      <div class="recipe_subheading">
        ILiveOffMinimumWage
      </div>
      <div class="profile_image_desc">
        {/*Need a default image for new user profiles*/}
        <div class="profile_image">
          <img src="static/images/Google.png" alt="GoogleLogo" height="100" width="100"/>
        </div>
        <div class="right_desc">
          <div class="profile_desc">
            Is this even edible?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>